<configuration>
    <dllmap dll="DevIL.dll" os="windows" dll="DevIl.dll" />
    <dllmap dll="DevIL.dll" os="osx" dll="libIL.so.1" />
    <dllmap dll="DevIL.dll" os="!windows,osx" dll="libIL.so.1" />

    <dllmap dll="ILU.dll" os="windows" dll="ILU.dll" />
    <dllmap dll="ILU.dll" os="osx" dll="libILU.so.1" />
    <dllmap dll="ILU.dll" os="!windows,osx" dll="libILU.so.1" />

    <dllmap dll="ILUT.dll" os="windows" dll="ILUT.dll" />
    <dllmap dll="ILUT.dll" os="osx" dll="libILUT.so.1" />
    <dllmap dll="ILUT.dll" os="!windows,osx" dll="libILUT.so.1" />
</configuration>
