<configuration>
    <dllmap dll="cg.dll" os="windows" dll="cg.dll" />
    <dllmap dll="cg.dll" os="osx" dll="/Library/Frameworks/Cg.framework/Cg" />
    <dllmap dll="cg.dll" os="!windows,osx" dll="libCg.so" />

    <dllmap dll="cgGL.dll" os="windows" dll="cgGL.dll" />
    <dllmap dll="cgGL.dll" os="osx" dll="/Library/Frameworks/Cg.framework/Cg" />
    <dllmap dll="cgGL.dll" os="!windows,osx" dll="libCgGL.so" />
</configuration>
