<configuration>
    <dllmap dll="OpenAL32.dll" os="windows" target="OpenAL32.dll" />
    <dllmap dll="OpenAL32.dll" os="osx" target="/System/Library/Frameworks/OpenAL.framework/OpenAL" />
    <dllmap dll="OpenAL32.dll" os="!windows,osx" target="libopenal.so.1" />

    <dllmap dll="alut.dll" os="windows" target="alut.dll" />
    <dllmap dll="alut.dll" os="osx" target="libalut.so.0" />
    <dllmap dll="alut.dll" os="!windows,osx" target="libalut.so.0" />
</configuration>
