<configuration>
    <dllmap dll="avcodec-51.dll">
    	<dllentry os="linux" dll="libavcodec.so.51" />
    	<dllentry os="windows" dll="avcodec-51.dll" />
    	<dllentry os="osx" dll="libavcodec.so.51" />
    </dllmap>
    <dllmap dll="avformat-52.dll">
    	<dllentry os="linux" dll="libavformat.so.52" />
    	<dllentry os="windows" dll="avformat-52.dll" />
    	<dllentry os="osx" dll="libavformat.so.52" />
    </dllmap>
    <dllmap dll="avutil-49.dll">
    	<dllentry os="linux" dll="libavutil.so.49" />
    	<dllentry os="windows" dll="avutil-49.dll" />
    	<dllentry os="osx" dll="libavutil.so.49" />
    </dllmap>
  <dllmap dll="swscale-0.dll">
    <dllentry os="linux" dll="libswscale.so.0" />
    <dllentry os="windows" dll="swscale-0.dll" />
    <dllentry os="osx" dll="libswscale.so.0" />
  </dllmap>
</configuration>
