<configuration>
    <dllmap dll="opengl32.dll" os="windows" dll="opengl32.dll" />
    <dllmap dll="opengl32.dll" os="osx" dll="/System/Library/Frameworks/OpenGL.framework/OpenGL" />
    <dllmap dll="opengl32.dll" os="!windows,osx" dll="libGL.so.1" />

    <dllmap dll="glu32.dll" os="windows" dll="opengl32.dll" />
    <dllmap dll="glu32.dll" os="osx" dll="/System/Library/Frameworks/OpenGL.framework/Libraries/libGLU.dylib" />
    <dllmap dll="glu32.dll" os="!windows,osx" dll="libGLU.so.1" />
</configuration>
