<configuration>
    <dllmap dll="OpenAL32.dll" os="windows" dll="OpenAL32.dll" />
    <dllmap dll="OpenAL32.dll" os="osx" dll="/System/Library/Frameworks/OpenAL.framework/OpenAL" />
    <dllmap dll="OpenAL32.dll" os="!windows,osx" dll="libopenal.so.1" />

    <dllmap dll="alut.dll" os="windows" dll="alut.dll" />
    <dllmap dll="alut.dll" os="osx" dll="libalut.so.0" />
    <dllmap dll="alut.dll" os="!windows,osx" dll="libalut.so.0" />
</configuration>
