<configuration>
    <dllmap dll="freetype6.dll" os="windows" target="freetype6.dll" />
    <dllmap dll="freetype6.dll" os="osx" target="/Library/Frameworks/Mono.framework/Libraries/libfreetype.6.dylib" />
    <dllmap dll="freetype6.dll" os="!windows,osx" target="libfreetype.so.6" />
</configuration>
